/* CSS file */

/* This creates the scrollable window */
.scroll-code .highlight pre {
    max-height: 250px; /* Adjust this height to fit about 8-10 lines */
    overflow-y: auto;
    border-radius: 4px;
    white-space: pre-wrap;       /* CSS3 */
    word-break: break-word;      /* Breaks long strings (like long formulas) */
    overflow-wrap: anywhere;
}
