/* This creates the scrollable window */
.scroll-code .highlight pre {
    border-radius: 4px;
    max-height: 200px; /* Adjust this height to fit about 8-10 lines */
    overflow-wrap: anywhere;
    overflow-y: auto;
    white-space: pre-wrap;       /* CSS3 */
    word-break: break-word;      /* Breaks long strings (like long formulas) */
}
