/* --- Rule to control image visibility based on the active color scheme. --- */

/* 1. Hide the Dark image in Light Mode (Scheme is 'default') */
[data-md-color-scheme="default"] img.img-dark {
  display: none;
}

/* 2. Hide the Light image in Dark Mode (Scheme is 'slate') */
[data-md-color-scheme="slate"] img.img.img-light {
  display: none;
}