/* --- Rule to control image visibility based on the active color scheme. --- */

/* 1. Hide the Dark image in Light Mode */
[data-md-color-scheme="dark-scheme"] img.img-dark {
  display: none;
}

/* 2. Hide the Light image in Dark Mode */
[data-md-color-scheme="light-scheme"] img.img-light {
  display: none;
}